<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Copy of watch2 WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Glance - watch2 WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Notification - watch2 WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>glance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>publicData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>watch2 WatchKit App new(1).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>watch2 WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>watch2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27C95E4B1B3A03D80067F797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C95E641B3A03D80067F797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C95E6F1B3A03D80067F797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C95E781B3A03D80067F797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C95E871B3A03D80067F797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C95EBC1B3A1B200067F797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C95EC51B3A1B200067F797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
